body{
    font-family: Calibri;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;    
}
.wrap-header,.wrap-main,.wrap-footer{
    margin: auto;
    width: 1020px;
}
a{
    text-decoration: none;
}
header{
    background-color: #F58029;
    //color: #FFF;
    padding: 12px 0;
    width: 100%;

}
header a{
    color: #FFF;
    text-decoration: none;
}
header>.wrap-header>.logo{
    display: inline-block;
    font-size: .8em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 20%;
}
header>.wrap-header>.logo>figure{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.logo>figure img{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
header>.wrap-header>.logo>h1{
    color: #FFF;
    display: inline-block;
    line-height: 90%;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: bottom;
    width: 45%;
}
header>.wrap-header>.logo>h1>span{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
header>.wrap-header>.logo>h1>div{
    display: inline-block;
    font-size: .8em;
    font-weight: normal;
    left: 62px;
    position: relative;
    top: -12px;
    vertical-align: top;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
header>.wrap-header>.options{
    display: inline-block;
    margin: 22px 0 0 15px;
    vertical-align: top;
    width: 55%;
}
header>.wrap-header>.options ul{
    margin: 0;
    padding: 0;
}
header>.wrap-header>.options ul>li{
    color: #FFF;
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options ul>li:nth-child(2) span:before{
    content: "|"
}
header>.wrap-header>.options ul>li:nth-child(2) span{
    margin: 0 7px 0 7px;
}
header>.wrap-header>.options>.list-options>*{
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options>.list-options>a{
    float: right;
}
header>.wrap-header>.options>.search{
    margin: 12px 0 0 0;
}
header>.wrap-header>.options>.search>input{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    padding: 2px 0 2px 8px;
    width: 100%;
}
header>.wrap-header>.options>.search input::-webkit-input-placeholder{
    color: #FFF;
}
header>.wrap-header>.options>.search input::-moz-placeholder{
    color: #FFF;
}
header>.wrap-header>.user{
    color: #FFF;
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: top;
    width: 20%;
}
header>.wrap-header>.user figure{
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    height: 90px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.user figure>a{
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
}
header>.wrap-header>.user figure img{
    display: none;
    margin: 0;
    padding: 0;
}
header>.wrap-header>.user div{
    float: right;
    margin: 20px 0 0 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.user div>span{
    display: inline-block;
    vertical-align: top;
}


nav{
    margin: auto;
    width: 1020px;
}
nav a{
    color: #939598;
    text-decoration: none;
}
nav>ul{
    padding: 0;
}
nav>ul>li:first-child{
    margin: 0 20px 0 40px;
}
nav>ul>li{
    margin: 0 30px 0 0;
    font-size: 1.3em;
    display: inline-block;
    vertical-align: top;
}
nav>ul>li:before{
    content: "○ ";
    color: #F7941E;
}
/*HOVER MENU*/
nav>ul>li>a:hover{
    text-decoration: underline;
}



.wrap-main{

}
.wrap-main .name-page{
text-align: right;
}
.wrap-main>div>h1{
    display: inline-block;
    font-size: 4em;
    margin: 0;
    opacity: 0.1;
}
.wrap-main>article{
    font-size: 1.6em;
    height: 230px;
    margin: 8px 0 45px 0 ;
}
.wrap-main>article>.title{
    border-right: 14px solid;
    display: inline-block;
    height: 100%;
    margin: 0 8px 0 0;
    vertical-align: top;
    text-align: center;
    width: 19%;
}
.wrap-main>article>.title a{
    display: block;
    text-decoration: none;
}
.wrap-main>article>.title h2{
    font-weight: normal;
    padding: 0;
}

.wrap-main>article .image{
    box-shadow: 2px 2px 8px #939598;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    width: 77%;
}
.wrap-main>article .image:hover{
    opacity: 0.4;
}
.wrap-main>article .image figure{
    display: flex;
    margin: 0;
    padding: 0;
}
.wrap-main>article .image figure a{
    display: inline-flex;
}
.wrap-main>article .image figure img{
    width: 100%;
}
.wrap-main>article .image figure a:active{
    filter:grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
}

/********Colores de Seccion*********/
.wrap-main>.aperitivos>.title{
    border-color: #F58029;
}
.wrap-main>.ensaladas-y-verduras>.title{
    border-color: #8dc63f;
}
.wrap-main>.arroces-y-cereales>.title{
    border-color: #f5ee31;
}
.wrap-main>.sopas-y-cremas>.title{
    border-color: #dbb570;
}


footer{
    background-color: #E7E7E8;
    color: #B1B1B2;
    width: 100%;
}
footer>.wrap-footer{
    //border: 1px solid;
    text-align: center;
}
footer>.wrap-footer>.wrap-social{
    display: inline-block;
    margin: 20px 0 0 0;
}
footer>.wrap-footer>.wrap-social .followus{
    
    display:inline-block;
    margin: 0 12px 0 0;
    vertical-align: top;
}
footer>.wrap-footer>.wrap-social>.icons-social{
    border-left: 8px solid;
     color: #B1B1B2;
    display: inline-block;
    vertical-align: top;
}

footer>.wrap-footer>.wrap-social>.icons-social>ul>li{
display: inline-block;
margin: 0 8px 0 0;
vertical-align: top;
}
footer .info-page{
    color:#939598;
}
footer .info-page>ul>li{
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top,
}
footer .info-page>ul>li span:before{
    content: "|";
}
