body{
    font-family: Calibri;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;    
}
.wrap-header,.wrap-main,.wrap-footer{
    margin: auto;
    max-width: 1020px;
}
header{
    background-color: #F58029;
    //color: #FFF;
    padding: 12px 0;
    width: 100%;

}
header a{
    color: #FFF;
    text-decoration: none;
}
header>.wrap-header>.logo{
    display: inline-block;
    font-size: .8em;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 20%;
}
header>.wrap-header>.logo>figure{
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.logo>figure img{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
header>.wrap-header>.logo>h1{
    color: #FFF;
    display: inline-block;
    line-height: 90%;
    margin: 0 0 0 0;
    padding: 0;
    vertical-align: bottom;
    width: 45%;
}
header>.wrap-header>.logo>h1>span{
    font-weight: normal;
    margin: 0;
    padding: 0;
}
header>.wrap-header>.logo>h1>div{
    display: inline-block;
    font-size: .8em;
    font-weight: normal;
    left: 62px;
    position: relative;
    top: -12px;
    vertical-align: top;
    transform:rotate(-20deg);
    -webkit-transform:rotate(-20deg);
}
header>.wrap-header>.options{
    display: inline-block;
    margin: 22px 0 0 15px;
    vertical-align: top;
    width: 55%;
}
header>.wrap-header>.options ul{
    margin: 0;
    padding: 0;
}
header>.wrap-header>.options ul>li{
    color: #FFF;
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options ul>li:nth-child(2) span:before{
    content: "|"
}
header>.wrap-header>.options ul>li:nth-child(2) span{
    margin: 0 7px 0 7px;
}
header>.wrap-header>.options>.list-options>*{
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options>.list-options>a{
    float: right;
}
header>.wrap-header>.options>.search{
    margin: 12px 0 0 0;
}
header>.wrap-header>.options>.search>input{
    background-color: rgba(255,255,255,0.4);
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    padding: 2px 0 2px 8px;
    width: 100%;
}
header>.wrap-header>.options>.search input::-webkit-input-placeholder{
    color: #FFF;
}
header>.wrap-header>.options>.search input::-moz-placeholder{
    color: #FFF;
}
header>.wrap-header>.user{
    color: #FFF;
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: top;
    width: 20%;
}
header>.wrap-header>.user figure{
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    height: 90px;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.user figure>a{
    margin: 0;
    padding: 0;
    color: black;
    width: 100%;
}
header>.wrap-header>.user figure img{
    display: none;
    margin: 0;
    padding: 0;

}
header>.wrap-header>.user div{
    float: right;
    margin: 20px 0 0 0;
    padding: 0;
    vertical-align: top;
    width: 45%;
}
header>.wrap-header>.user div>span{
    display: inline-block;
    vertical-align: top;
}


nav{
    margin: auto;
    width: 1020px;
}
nav a{
    color: #939598;
    text-decoration: none;
}
nav>ul{
    padding: 0;
}
nav>ul>li:first-child{
    margin: 0 20px 0 40px;
}
nav>ul>li{
    margin: 0 30px 0 0;
    font-size: 1.3em;
    display: inline-block;
    vertical-align: top;
}
nav>ul>li:before{
    content: "○ ";
    color: #F7941E;
}

.wrap-main{

}
.wrap-main>div{
text-align: right;
}
.wrap-main>div>h1{
    //border: 1px solid;
    display: inline-block;
    font-size: 4em;
    margin: 0;
    opacity: 0.1;
}
.wrap-main>article{
    font-size: 1.6em;
    height: 170px;
    margin: 8px 0 35px 0 ;
}
.wrap-main>article>.title{
    border-right: 8px solid;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    text-align: center;
    width: 20%;
}
.wrap-main>article>.title a{
    text-decoration: none;
}
.wrap-main>article>.title h2{
    font-weight: normal;
    margin: 10px 0 0 10px;
    padding: 0;
}

.wrap-main>article>.image{
    display: inline-block;
    vertical-align: top;
   // outline: 1px solid;
    width: 78%;
}

/********Colores de Seccion*********/
.wrap-main>.aperitivos>.title{
    border-color: orange;
}
.wrap-main>.ensaladas-y-verduras>.title{
    border-color: green;
}


footer{
    background-color: #E7E7E8;
    width: 100%;
}
footer>.wrap-footer{
    text-align: center;
}
footer>.wrap-footer>.wrap-social{
   
}
footer>.wrap-footer>.wrap-social>div{
    color: #B1B1B2;
  
    display:inline-block;
    vertical-align: top;
}
footer>.wrap-footer>.wrap-social>.icons-social>ul>li{
display: inline-block;
vertical-align: top;
}
