body{
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;    
}
.wrap-header,.wrap-main,.wrap-footer{
    border:1px solid blue;
    margin: auto;
    width: 1020px;
}
header{
    background-color: #DF3A01;
    border: 1px solid;
    color: #FFF;
    display: inline-block;
    width: 100%;
}
header a{
    color: #FFF;
    text-decoration: none;
}
header>.wrap-header>.logo{
    border: 1px solid;
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options{
    border:1px solid;
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options ul{
    
    margin: 0;
    padding: 0;
}
header>.wrap-header>.options ul>li{
    border:1px solid ;
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.options ul>li:nth-child(2):before{
    content: "|";
}
header>.wrap-header>.options ul>li:nth-child(2):after{
    content: "|";
}
header>.wrap-header>.options>.list-options>*{
    display: inline-block;
    vertical-align: top;
}
header>.wrap-header>.user{
    border:1px solid;
    display: inline-block;
    float: right;
    vertical-align: top;
}

nav{
    border:1px solid red;
    margin: auto;
    width: 1020px;
}
nav a{
    color:#000;
    text-decoration: none;
}
nav>ul>li{
    border:1px solid;
    margin: 0 20px 0 0;
    font-size: 1.3em;
    display: inline-block;
}

.wrap-main{
    border:1px solid orange;
}
.wrap-main>article{
    border:1px solid;
    font-size: 2em;
}

